.payment-main-container{
    width:100%;
}
.payment-image-container{
    width: 100%;  
    height:480px;
    background-image: url('../../../assets/images/collections/contact-us-image.jpg'); 
    background-size: cover; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
} 
.payment-image-container h1{
    color: #fff;
    font-weight: 640; 
    font-size: 50px;
}  

/*styles for accordion model */ 
.payment-main-container .shipping-details-container{
    width:90%;  
    margin-top: 100px;
    margin-bottom: 100px; 
    margin-left: 80px;
}


/*responsive*/
@media screen and (width:769px){
    .payment-image-container{
            width: 100%;  
            height:480px;
            background-image: url('../../../assets/images/collections/page-title-bar.3ed966eb\ -\ Copy.jpg'); 
            background-size: cover; 
            display: flex; 
            flex-direction: column; 
            align-items: center; 
            justify-content: center;   
    } 
    .payment-main-container .shipping-details-container{
        width:90% ;  
       
    }
    
    
} 

@media screen and (max-width:768px) {
    .payment-image-container{
        width: 100%;  
        height:400px;
        background-image: url('../../../assets/images/collections/page-crop-contact.jpg'); 
        background-size: cover; 
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        justify-content: center; 
    } 
    .payment-image-container h1{
        
            font-size: 30px; 
            font-weight: 500;  
    } 
    .payment-main-container .shipping-details-container{
        width:90% ;  
        margin-top: 100px;
        margin-bottom: 100px; 
        margin-left: 20px;
    }
    
}